In [3]:
import pandas as pd
import re

In [4]:
file_path = r"C:\Users\romme\OneDrive\Desktop\pakwheels_cars.csv"

In [5]:
data = pd.read_csv(file_path)
Dframe = pd.DataFrame(data)

In [6]:
col = ["title", "price","city", "year", "mileage", "fuel_type", "engine_capacity", "transmission"]

In [7]:
df2 = pd.DataFrame(data, columns=col)
df2.head()

,title,price,city,year,mileage,fuel_type,engine_capacity,transmission
0,Lexus UX 2021 for sale in Karachi,"PKR 12,500,000",Karachi,2021.0,"11,000 km",Electric,55.0 kWh,Automatic
1,Lexus UX 2021 for sale in Karachi,"PKR 12,500,000",Karachi,2021.0,"27,000 km",Electric,55.0 kWh,Automatic
2,Toyota Raize 2020 for sale in Lahore,"PKR 5,075,000",Lahore,2020.0,"35,000 km",Petrol,1000 cc,Automatic
3,Suzuki Wagon R 2022 for sale in Lahore,"PKR 2,910,000",Lahore,2022.0,"56,000 km",Petrol,1000 cc,Manual
4,Suzuki Mehran 2018 for sale in Lahore,"PKR 1,410,000",Lahore,2018.0,"98,000 km",Petrol,800 cc,Manual

In [8]:
df2["year"] = df2["year"].astype('Int64')

In [9]:
df2.head(1000)

,title,price,city,year,mileage,fuel_type,engine_capacity,transmission
0,Lexus UX 2021 for sale in Karachi,"PKR 12,500,000",Karachi,2021,"11,000 km",Electric,55.0 kWh,Automatic
1,Lexus UX 2021 for sale in Karachi,"PKR 12,500,000",Karachi,2021,"27,000 km",Electric,55.0 kWh,Automatic
2,Toyota Raize 2020 for sale in Lahore,"PKR 5,075,000",Lahore,2020,"35,000 km",Petrol,1000 cc,Automatic
3,Suzuki Wagon R 2022 for sale in Lahore,"PKR 2,910,000",Lahore,2022,"56,000 km",Petrol,1000 cc,Manual
4,Suzuki Mehran 2018 for sale in Lahore,"PKR 1,410,000",Lahore,2018,"98,000 km",Petrol,800 cc,Manual
...,...,...,...,...,...,...,...,...
995,NaN,NaN,NaN,<NA>,"99,500 km",Petrol,4600 cc,Automatic
996,Suzuki Alto 2011 for sale in Lahore,"PKR 1,200,000",Lahore,2011,"120,000 km",Petrol,1000 cc,Manual
997,Honda Civic 2011 for sale in Karachi,"PKR 2,950,000",Karachi,2011,"74,000 km",Petrol,1800 cc,Automatic
998,Toyota Hilux 2022 for sale in Karachi,"PKR 12,800,000",Karachi,2022,"23,000 km",Diesel,2800 cc,Automatic
999,Toyota Camry 2015 for sale in Gujranwala,"PKR 8,000,000",Gujranwala,2015,"95,454 km",Hybrid,2500 cc,Automatic

In [10]:
df2['title'] = (df2['title']
                .str.extract(r'^(.*?)(?=\s\d{4})', expand=False)
                .str.strip())

df2['price'] = (
             df2['price']
             .astype(str)
                .str.replace('PKR', '', regex=False)
                .str.replace(',', '', regex=False)
                .str.strip()
                )
df2['price'] = pd.to_numeric(df2['price'], errors='coerce')


df2['mileage'] = (
    df2['mileage']
        .astype(str)
        .str.replace('km', '', regex=False)
        .str.replace(',', '', regex=False)
        .str.strip()
)
df2['mileage'] = pd.to_numeric(df2['mileage'], errors='coerce')


df2['engine_capacity'] = (
    df2['engine_capacity']
        .astype(str)
        .str.replace('cc', '', regex=False)
        .str.replace('kWh', '', regex=False)
        .str.strip()
)
df2['engine_capacity'] = pd.to_numeric(df2['engine_capacity'], errors='coerce')

In [11]:
df2 = df2[df2['fuel_type'] != 'Electric']

In [12]:
df2.drop(df2[df2['fuel_type'] == 'Electric'].index, inplace=True)

In [17]:
df2.set_index(df2['title'], inplace=True)

In [27]:
df2.shape[0]

69496

In [30]:
df2 = df2.dropna(subset=['price'])
df2['city'] = df2['city'].fillna('Unknown')
df2['mileage'] = df2['mileage'].fillna(df2['mileage'].median())
df2['engine_capacity'] = df2['engine_capacity'].fillna(df2['engine_capacity'].median())
df2['fuel_type'] = df2['fuel_type'].fillna('Unknown')
df2['transmission'] = df2['transmission'].fillna('Unknown')

In [32]:
df2.shape[0]

68303