In [1]:
import pandas as pd
import re

In [2]:
file_path = r"C:\Users\romme\OneDrive\Desktop\pakwheels_cars.csv"

In [3]:
data = pd.read_csv(file_path)
Dframe = pd.DataFrame(data)

In [4]:
col = ["title", "price","city", "year", "mileage", "fuel_type", "engine_capacity", "transmission"]

In [5]:
df2 = pd.DataFrame(data, columns=col)
df2.head()

,title,price,city,year,mileage,fuel_type,engine_capacity,transmission
0,Lexus UX 2021 for sale in Karachi,"PKR 12,500,000",Karachi,2021.0,"11,000 km",Electric,55.0 kWh,Automatic
1,Lexus UX 2021 for sale in Karachi,"PKR 12,500,000",Karachi,2021.0,"27,000 km",Electric,55.0 kWh,Automatic
2,Toyota Raize 2020 for sale in Lahore,"PKR 5,075,000",Lahore,2020.0,"35,000 km",Petrol,1000 cc,Automatic
3,Suzuki Wagon R 2022 for sale in Lahore,"PKR 2,910,000",Lahore,2022.0,"56,000 km",Petrol,1000 cc,Manual
4,Suzuki Mehran 2018 for sale in Lahore,"PKR 1,410,000",Lahore,2018.0,"98,000 km",Petrol,800 cc,Manual

In [6]:
df2["year"] = df2["year"].astype('Int64')

In [7]:
df2.head(1000)

,title,price,city,year,mileage,fuel_type,engine_capacity,transmission
0,Lexus UX 2021 for sale in Karachi,"PKR 12,500,000",Karachi,2021,"11,000 km",Electric,55.0 kWh,Automatic
1,Lexus UX 2021 for sale in Karachi,"PKR 12,500,000",Karachi,2021,"27,000 km",Electric,55.0 kWh,Automatic
2,Toyota Raize 2020 for sale in Lahore,"PKR 5,075,000",Lahore,2020,"35,000 km",Petrol,1000 cc,Automatic
3,Suzuki Wagon R 2022 for sale in Lahore,"PKR 2,910,000",Lahore,2022,"56,000 km",Petrol,1000 cc,Manual
4,Suzuki Mehran 2018 for sale in Lahore,"PKR 1,410,000",Lahore,2018,"98,000 km",Petrol,800 cc,Manual
...,...,...,...,...,...,...,...,...
995,NaN,NaN,NaN,<NA>,"99,500 km",Petrol,4600 cc,Automatic
996,Suzuki Alto 2011 for sale in Lahore,"PKR 1,200,000",Lahore,2011,"120,000 km",Petrol,1000 cc,Manual
997,Honda Civic 2011 for sale in Karachi,"PKR 2,950,000",Karachi,2011,"74,000 km",Petrol,1800 cc,Automatic
998,Toyota Hilux 2022 for sale in Karachi,"PKR 12,800,000",Karachi,2022,"23,000 km",Diesel,2800 cc,Automatic
999,Toyota Camry 2015 for sale in Gujranwala,"PKR 8,000,000",Gujranwala,2015,"95,454 km",Hybrid,2500 cc,Automatic

In [8]:
df2['title'] = (df2['title']
                .str.extract(r'^(.*?)(?=\s\d{4})', expand=False)
                .str.strip())

df2['price'] = (
             df2['price']
             .astype(str)
                .str.replace('PKR', '', regex=False)
                .str.replace(',', '', regex=False)
                .str.strip()
                )
df2['price'] = pd.to_numeric(df2['price'], errors='coerce')


df2['mileage'] = (
    df2['mileage']
        .astype(str)
        .str.replace('km', '', regex=False)
        .str.replace(',', '', regex=False)
        .str.strip()
)
df2['mileage'] = pd.to_numeric(df2['mileage'], errors='coerce')


df2['engine_capacity'] = (
    df2['engine_capacity']
        .astype(str)
        .str.replace('cc', '', regex=False)
        .str.replace('kWh', '', regex=False)
        .str.strip()
)
df2['engine_capacity'] = pd.to_numeric(df2['engine_capacity'], errors='coerce')

In [9]:
df2 = df2[df2['fuel_type'] != 'Electric']

In [10]:
df2.drop(df2[df2['fuel_type'] == 'Electric'].index, inplace=True)

In [11]:
df2 = df2.dropna(subset=['price'])
df2['city'] = df2['city'].fillna('Unknown')
df2['mileage'] = df2['mileage'].fillna(df2['mileage'].median())
df2['engine_capacity'] = df2['engine_capacity'].fillna(df2['engine_capacity'].median())
df2['fuel_type'] = df2['fuel_type'].fillna('Unknown')
df2['transmission'] = df2['transmission'].fillna('Unknown')

In [12]:
df2.head()

,title,price,city,year,mileage,fuel_type,engine_capacity,transmission
2,Toyota Raize,5075000.0,Lahore,2020,35000.0,Petrol,1000.0,Automatic
3,Suzuki Wagon R,2910000.0,Lahore,2022,56000.0,Petrol,1000.0,Manual
4,Suzuki Mehran,1410000.0,Lahore,2018,98000.0,Petrol,800.0,Manual
5,Jetour Dashing,9050000.0,Rawalpindi,2025,1900.0,Petrol,1500.0,Automatic
6,Nissan Note,10500000.0,Rawalpindi,2022,26000.0,Hybrid,1200.0,Automatic

In [15]:
import pandas as pd

def normalize_transmission(x):
    if pd.isna(x):
        return "unknown"
    x = str(x).strip().lower()

    # common automatic patterns
    if "auto" in x or x in {"at", "a/t"}:
        return "automatic"

    # common manual patterns
    if "man" in x or x in {"mt", "m/t"}:
        return "manual"

    return "unknown"

df2["transmission"] = df2["transmission"].apply(normalize_transmission)
print(df2["transmission"])

# quick check
df2["transmission"].value_counts(dropna=False)

2        automatic
3           manual
4           manual
5        automatic
6        automatic
           ...
70435       manual
70436       manual
70437       manual
70438       manual
70439       manual
Name: transmission, Length: 68303, dtype: object

transmission
automatic    40301
manual       27691
unknown        311
Name: count, dtype: int64

In [16]:
df2.head(20)

,title,price,city,year,mileage,fuel_type,engine_capacity,transmission
2,Toyota Raize,5075000.0,Lahore,2020,35000.0,Petrol,1000.0,automatic
3,Suzuki Wagon R,2910000.0,Lahore,2022,56000.0,Petrol,1000.0,manual
4,Suzuki Mehran,1410000.0,Lahore,2018,98000.0,Petrol,800.0,manual
5,Jetour Dashing,9050000.0,Rawalpindi,2025,1900.0,Petrol,1500.0,automatic
6,Nissan Note,10500000.0,Rawalpindi,2022,26000.0,Hybrid,1200.0,automatic
7,Suzuki Swift,3150000.0,Karachi,2020,60000.0,Petrol,1300.0,automatic
8,Daihatsu Mira,3300000.0,Karachi,2024,62000.0,Petrol,660.0,automatic
9,Toyota Corolla,4675000.0,Multan,2019,54000.0,Petrol,1300.0,manual
10,Suzuki Every,3315000.0,Karachi,2021,37000.0,Petrol,660.0,automatic
11,BMW 3 Series,7800000.0,Karachi,2015,91000.0,Petrol,1600.0,automatic
12,Honda City,5500000.0,Lahore,2022,5500.0,Petrol,1500.0,automatic
13,Mercedes Benz E Class,12200000.0,Islamabad,2014,57000.0,Petrol,2100.0,automatic
14,Toyota Vitz,2250000.0,Unknown,2004,100000.0,Petrol,1000.0,automatic
15,Daihatsu Mira,2265000.0,Karachi,2012,174000.0,Petrol,660.0,automatic
16,Toyota Corolla,7625000.0,Lahore,2024,23000.0,Petrol,1800.0,automatic
17,Toyota Corolla,3575000.0,Rawalpindi,2015,218000.0,Petrol,1300.0,manual
18,Toyota Prado,31000000.0,Karachi,2020,14000.0,Petrol,2700.0,automatic
19,Suzuki Khyber,750000.0,Unknown,1998,120000.0,Petrol,1000.0,manual
20,Toyota Corolla,2190000.0,Unknown,2009,205780.0,Petrol,1300.0,manual
21,Suzuki Cultus,1650000.0,Lahore,2015,179000.0,Petrol,1000.0,manual